.git
.gitignore
bin
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor
.go-test
cover.html
coverage.out
*.log
.env
.DS_Store
.vscode
.idea
*.swp
*.swo
Dockerfile*
docker-compose*.yml
.dockerignore
*.md
README.md
