vendor
.env
.env.*
.phpunit.cache
.php-cs-fixer.cache
.phpunit.result.cache
tests
node_modules
storage/logs/*.log
.DS_Store
.vscode
.idea
*.swp
*.swo
Dockerfile*
docker-compose*.yml
.dockerignore
*.md
README.md
